DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMDFKV1BENzVKNUZKUzVTUlBXNEFORlI1QUEiLCJ0ZW5hbnRfaWQiOiI2OGIxZTdhYTJlYTA2ZDBlYzAzZGViZWRkODAyMTMzZjE3NGJjMmU3YTMyMjExMGVmY2YyOGE1MmI2NzVlZTNmIiwiaW50ZXJuYWxfc2VjcmV0IjoiZjIxYjQzZmEtNDZiYS00MTYxLTk5ZWEtZDhlZDM0YzkyMTYwIn0.PbOQEVeVSmFiwCQf7Zvi8Wkmn17ZJSHN7jbhBPVJYnc"
